* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}
.banner {
  width: 100%;
  height: 12vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.navbar {
  background-color: #2e2d2d;
  height: 15px;
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}
.logo {
  margin-left: 50px;
  width: 300px;
  height: auto;
  cursor: pointer;
  padding-bottom: 10px;
}


.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #e91e63;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.aboutsection{
  position: relative;
  width: 100%;
}
.aboutsection  img{
  width: 100% ;
  height: 40vh;
  object-fit: cover;
}
.aboutsection_text {
  position: absolute;
  top: 25%;
  color: #fff;
  padding: 20px;
  width: 100%;
  background: transparent;
}
.aboutsection_text h1{
  position: relative;
  background:transparent;
  padding: 20px;
  
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}


.container{
    width: 80% !important;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #F6F6F6;
}


button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #FCCA07;
  background: transparent;
  color: #B53F9F;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.about_content{
  margin-bottom: 0;
}
.about_content p{
      color: #212121;
    font-weight: 400;
    font-family: Lato;
    font-size: 17px;
    line-height: 26px;
}

.about_content h2{
      color: #2f6145;
    font-weight: 700;
    font-family: Lora;
    font-size: 34px;
    line-height: 44px;
}

.buttonStyle {
  background: #FCCA07 !important;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}

button:hover {
  border: none;
   background: #FCCA07 !important;
}

.subhead_logo{
width: 90%;
  height: 35vh;
  background-image:
    url(images/done.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

.logo_container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #fff;
}

.subhead{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    
}
.subhead_content h1{
      color: #FAAF18;
    font-weight: 700;
    font-family: Lora;
    font-size: 34px;
    line-height: 40px;
   
}
.subhead_content{
  display: block;
  flex: 1;
  text-align: left;
  padding-left: 70px;
}
.subhead_content p{
  color: #212121;
    font-size: 15px;
    line-height: 24px;
     font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.subhead_image img{
    max-width: 100%;
    height: auto;
    display: block;
}

.subhead_image{
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 8px;
}

.subhead2_logo{
width: 90%;
  height: 35vh;
  margin-right: 100px;
  background-image:
    url(images/logodesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

.section {
  text-align: center
}

.section h1 {
  font-size: 50px;
  padding-top: 80px;
  color: #FAAF18;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  width: 325px;
  margin-top: 0;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card img {
  width: 90%;
  height: auto;
   height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  
}
.cardcomment p {
  padding-top: 25px;
   margin-bottom: 8px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    color: #FAAF18;
}

.card-content h3 {
  height: 30px;
  font-size: 28px;
  margin-bottom: 8px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: #FAAF18;
}
.newcontact{
  text-align: center;
    flex: 1;
  align-items:center;
  padding-top: 30px;
}

.newcontact h3{
  padding-top: 30px;
  text-align: center;
   color: #faaf18;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 40px;
     font-size: 24px;
}


input,textarea{
    width: 70%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
     font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
input:focus, textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
.form_group{
    margin-bottom: 20px;
}

.contactfms{
  display: flex;
}
.contact_form{
  flex: 1;
}
.contact_form2{
  flex: 1;
}




.contain{
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-field{
  position: relative;
  margin-bottom: 30px;
}
.input-field input
{
   width: 100%;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #333;
  background: transparent;
  color: #0f0d0d;
  outline: none;
}
.input-field label
{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #faaf18;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus,
input:hover
{
  border: 2px solid #B53F9F;
}

input:focus ~ label,
input:hover ~ label,
input:valid ~ label
{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #fff;
}
.input-field textarea{
  width: 100%;
  max-height: 40vh;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 16px;
  border: 2px solid #333;
  background: transparent;
  color: #0f0d0d;
  outline: none;
}


textarea:focus,
textarea:hover
{
  border: 2px solid #B53F9F;
}

textarea:focus ~ label,
textarea:hover ~ label
{
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #fff;
}
.red{
  color: red;
}

.containers{
	max-width: 1170px;
	margin:auto;
  
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



.sidebar{
  padding-top: 3vh !important;
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(10px);

  /* check height */
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: transparent;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
  margin-bottom: 40px !important;
 
}
.sidebar a{
  width: 100%;
}
.listcolor{
  color: #0f0d0d;
}

  .menu-button{
    visibility: hidden;
  }

@media (max-width: 800px) {
  .hideOnMobile{
    display: none !important;
  }
  .menu-button{
    visibility: visible;
  }
}



@media (max-width: 400px) {
  .sidebar{
   width: 100%;
  }
}
