* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.back{
    background-color: #FCCA07;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h2{
    font-size: 20px;
    color: #555;
    margin-bottom: 35px;


}
.heading h1::after{
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #009688;
     bottom: -10px;
  transition: 0.5s;
}

.heading h1:hover:after {
  width: 100%;
}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;


}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about_image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about_image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about_image:hover img{
    transform: scale(1.2);
}

.about_content{
    flex: 1;
}

.about_content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about_content p{
   font-size: 18px;
   line-height: 1.5;
   color: #666;
}


.banner {
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 70px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}




footer {
  background-color: #111;
}

.footerContainer {
  width: 90%;
  padding: 70px 30px 20px;
}

.socialIcon {
  display: flex;
  justify-content: center;
}

.socialIcon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcon a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

/* Hover on Social Icons */
.socialIcon a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcon a:hover i {
  background-color: #fff;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
}

.footerNav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.footerNav ul li a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  text-transform: capitalize;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
}





@media (max-width: 800px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10;
  }
  .heading{
    padding: 0px 20px;
  }
  .heading h1{
    font-size: 36px;
  }
  .heading p{
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container{
    padding: 0px;
  }
  .about{
    padding: 20px;
    flex-direction: column;
  }
  .about_image{
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about_content p{
    padding: 0px;
    font-stretch: 16px;
  }
}
