* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

.vidbod{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
    opacity: .4 ;
}
.container{
    color: #302f2f;
    text-transform: uppercase;
    text-align: center;
}
.vidbod h1{
    font-size: 80px;
    margin-bottom: 40px;
}
.vidbod h3{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 20px;
}
.progress_bar{
    width: 360px;
    height: 12px;
    background-color: #04887b;
    margin: auto;
    margin-bottom: 100px;
    opacity: .8;
    position: relative;
}
.progress_bar::before{
    content: "0%";
    position: absolute;
    left: 0;
    font-size: 12px;
    bottom: -18px;
}
.progress_bar::after{
    content: "100%";
    position: absolute;
    right: 0;
    font-size: 12px;
    bottom: -18px;
}
.progress_bar span{
    display: block;
    width: 80%;
    height: 12px;
    background-color: #022041;
    animation: fill 1s ease-in 1;
}

@keyframes fill{
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
}
.sm a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #022041;
    line-height: 60px;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    margin: 0 10px;
    opacity: .7;
    transition: .3s linear;
}
.sm a:hover{
    transform: scale(1.1);
    opacity: 1;
}

.banner {
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 70px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}




footer {
  background-color: #111;
}

.footerContainer {
  width: 90%;
  padding: 70px 30px 20px;
}

.socialIcon {
  display: flex;
  justify-content: center;
}

.socialIcon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcon a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

/* Hover on Social Icons */
.socialIcon a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcon a:hover i {
  background-color: #fff;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
}

.footerNav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.footerNav ul li a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  text-transform: capitalize;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
}





@media (max-width: 800px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10;
  }
  
}




