* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
}

.section {
  padding-top: 15px;
  background-color: rgb(18, 18, 18);
}

.title h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 42px;
  color: #faaf18;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.title h1::after {
  content: '';
  position: relative;
  height: 4px;
  width: 0;
  background-color: #009688;
  display: block;
  margin: 0 auto;
  bottom: -10px;
  transition: 0.5s;
}
.title h1:hover::after {
  width: 300px;
}

.services {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
  margin-bottom: 0%;
  padding-bottom: 85px;
  text-align: center;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 0px 20px;
  padding: 20px 20px;
  cursor: pointer;
}

.card .icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 30px;
  color: #faaf18;
  opacity: 0.7;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.card p {
  font-size: 17px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #5e5e5e;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.banner {
  width: 100%;
  height: 12vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.navbar {
  background-color: #2e2d2d;
  height: 15px;
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}
.logo {
  margin-left: 50px;
  width: 100px;
  cursor: pointer;
  padding-bottom: 10px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: myFont;
}
.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}


footer {
  background-color: #111;
}

.footerContainer {
   width: 100%;
  height: 25vh;
}

.socialIcon {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.socialIcon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcon a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

/* Hover on Social Icons */
.socialIcon a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcon a:hover i {
  background-color: #fff;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
  margin-bottom: 70px;
}

.footerNav ul {
  display: flex;
  justify-content: center;
}

.footerNav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.footerNav ul li a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  text-transform: capitalize;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
}


@media (max-width: 800px) {

  .footerNav {
  margin: 15px 0;
}
  .socialIcon {
  display: flex;
  justify-content: center;
}
  .footerContainer {
  width: 100%;
  height: 33vh;
  padding: 70px 30px 20px;
}
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10;
  }
  
}


@media (max-width: 940px) {
  .services {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 85%;
    display: flex;
    margin: 20px 0px;
  }
}
