* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(images/smiley-man-woman-medium-shot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  background-color:  #2e2d2d;
  height: 15px;
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
}

.logo {
  margin-left: 50px;
  width: 100px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: myFont;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}

.content {
  padding-top: 15px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
    font-weight: 400;
    margin-bottom: 20px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
   font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.buttonStyle {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.largebtn {
  background: #131312;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}


footer {
  background-color: #111;
}

.footerContainer {
   width: 100%;
  height: 25vh;
}

.socialIcon {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.socialIcon a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcon a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

/* Hover on Social Icons */
.socialIcon a:hover {
  background-color: #111;
  transition: 0.5s;
}

.socialIcon a:hover i {
  background-color: #fff;
  transition: 0.5s;
}

.footerNav {
  margin: 30px 0;
  margin-bottom: 70px;
}

.footerNav ul {
  display: flex;
  justify-content: center;
}

.footerNav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.footerNav ul li a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  text-transform: capitalize;
  transition: 0.5s;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
}




.designer {
  opacity: 0.7;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

.section {
  text-align: center;
  background-color: rgb(18, 18, 18);

}

.section h1 {
  font-size: 70px;
  padding-top: 80px;
  color: #FAAF18;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
   height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none !important; 
}


@media (max-width: 800px) {
.footerNav {
  margin: 15px 0;
}
  .socialIcon {
  display: flex;
  justify-content: center;
}
  .footerContainer {
  width: 100%;
  height: 33vh;
  padding: 70px 30px 20px;
}
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10;
  }
}

@media(max-width: 800px ){
    .info{
        display: none !important;
    }
    .menu-button{
    display: block !important;
}
.navbar ul li:hover:after {
  width: 0;
}
.navbar ul li {
 margin-bottom: 20px;
}
.navbar ul li a:hover {
  text-decoration: none;
  color: #009688;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: sans-serif;
}

}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
